@font-face{
    src: url(assets/fonts/AvenirNextLTPro-Regular.otf);
    font-family: Avenir;
}
@font-face{
    src: url(assets/fonts/AvenirNextLTPro-Bold.otf);
    font-family: AvenirBold;
}
@font-face{
    src: url(assets/fonts/Neon-Regular.otf);
    font-family: Neon;
}
@font-face{
    src: url(assets/fonts/TTNorms-Regular.otf);
    font-family: TTNorms;
}
@font-face{
    src: url(assets/fonts/TTNorms-Bold.otf);
    font-family: TTNormsBold;
}

*{
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: initial;
   
}

.items{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.items li{
    font-family: TTNorms;
    font-weight: bold;
    color: #333333;
    list-style: none;
    font-size: 15px;
}

.headline{
    padding-left: 55px;
    font-family: TTNorms;
    font-weight: bolder;
    color: #333333;
    list-style: none;
    font-size: 42px;
    width: 80%;
    line-height: 50px;
}

.services-line{
    padding-left: 55px;
    font-family: TTNorms;
    font-weight: bolder;
    color: #05386b;
    list-style: none;
    font-size: 22px;
    line-height: 50px;
}

.image{
    padding-right: 75px;
}

.parent-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parent-head2{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.lets-talk-button{
    cursor: pointer;
    height: 60px;
    width: 200px;
    font-size: 18px;
    font-family: AvenirBold;
    color: #05386b;
    background-color: #5cdb95;
    border: 0;
    border-radius: 5px;
}

.lets-talk{
    padding-left: 60px;
}